---
import Menu from "./Menu.astro";
import MobileMenu from "./MobileMenu.astro";
import CartIcon from "../CartIcon.tsx";
---

<header
  class="bg-warm-beige/80 fixed top-0 z-50 backdrop-blur-md h-16 md:h-20 w-full"
>
  <div class="flex justify-between items-center px-4 py-2 h-full">
    <MobileMenu />
    <div class="flex items-center gap-4">
      <a href="/">
        <img src="/logo.webp" alt="Lucas' Loaves logo" class="w-12 md:w-14" />
      </a>
      <Menu />
    </div>
    <CartIcon client:load />
  </div>
</header>
