<nav class="gap-4 font-medium text-center hidden sm:flex">
  <a
    href="/"
    class="flex flex-col justify-center items-center cursor-pointer gap-1 hover:text-warm-beige text-earthy-brown"
  >
    <span>Home</span>
  </a>
  <a
    href="/products"
    class="flex flex-col justify-center items-center cursor-pointer gap-1 hover:text-warm-beige text-earthy-brown"
  >
    <span>Shop</span>
  </a>
  <a
    href="/about"
    class="flex flex-col justify-center items-center cursor-pointer gap-1 hover:text-warm-beige text-earthy-brown"
  >
    <span>About Us</span></a
  >
  <a
    href="/careers"
    class="flex flex-col justify-center items-center cursor-pointer gap-1 hover:text-warm-beige text-earthy-brown"
  >
    <span>Careers</span></a
  >
</nav>
