@import "tailwindcss";

@theme {
  --color-earthy-brown: #6b4f4b;
  --color-warm-beige: #fff8e7;
  --color-warm-gold: #d4a056;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Firefox */
  .scrollbar-hidden {
    scrollbar-width: none;
  }

  /* IE and Edge */
  .scrollbar-hidden {
    -ms-overflow-style: none;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 30s linear infinite;
  }

  .animate-marquee:hover {
    animation-play-state: paused;
  }
}

body {
  font-family: "Onest Variable", sans-serif;
}
