---
import Layout from "../layouts/Layout.astro";
import MobileMenu from "../components/MobileMenu.astro";
import Button from "../components/Button.astro";
---

<Layout>
  <MobileMenu title="Your Cart" />
  <main>
    <section class="py-6 px-4">
      <article class="flex w-full gap-4">
        <div class="max-h-28 max-w-28 overflow-hidden rounded-lg">
          <img
            src="src/images/classic_sourdough.jpg"
            alt=""
            class="object-cover object-center h-full w-full"
          />
        </div>
        <div class="flex flex-col w-full gap-2">
          <div class="flex justify-between w-full">
            <h2 class="text-sm font-medium">Classic Sourdough</h2>
            <button>x</button>
          </div>
          <small class="text-warm-gold font-medium pb-4">8.50</small>
          <div class="flex gap-4">
            <button
              class="px-2 bg-warm-beige border border-warm-gold/20 rounded-lg"
              >-</button
            >
            <div>
              <input
                type="number"
                name="quantity"
                id="quantity"
                value="1"
                class="text-center w-12 ps-2 px-2 border border-warm-gold/20 rounded-lg"
              />
            </div>
            <button
              class="px-2 bg-warm-beige border border-warm-gold/20 rounded-lg"
              >+</button
            >
          </div>
        </div>
      </article>
    </section>
    <section class="py-6 px-4 flex flex-col gap-4">
      <h2 class="text-earthy-brown font-bold">Order Summary</h2>
      <article class="bg-warm-beige p-4 rounded-lg text-gray-500">
        <div class="flex justify-between text-sm">
          <p>Subtotal</p>
          <p class="font-medium">$8.50</p>
        </div>
        <div class="flex justify-between text-sm">
          <p>Tax</p>
          <p class="font-medium">$0.68</p>
        </div>
        <div class="flex justify-between mt-4 text-gray-700 font-bold">
          <p>Total</p>
          <p>$11.18</p>
        </div>
      </article>
      <Button href="/checkout" align="self-start" width="w-full"
        >Proceed to Checkout</Button
      >
    </section>
  </main>

  <style>
    body {
      background-color: #fdfbf6;
    }
  </style>
</Layout>
