---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <img src="src/images/main-bg.jpg" alt="classroom setting with bread baking" />
  <h2>Artisan Sourdough Classes</h2>
  <p>
    Discover the joy of baking your own delicious sourdough. In our hands-on
    classes, Luca will guide you through the entire process, from nurturing a
    starter to pulling a perfect, crusty loaf from the oven.
  </p>
</Layout>
