---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="max-w-4xl mx-auto pt-16 flex flex-col grow">
    <section class="px-4 py-6">
      <h1
        class="py-4 md:py-6 lg:py-8 text-3xl md:text-4xl lg:text-5xl font-bold mb-6 text-earthy-brown text-center"
      >
        Privacy Policy
      </h1>
      <p class="text-gray-700 mb-4 text-lg md:text-xl">
        At Luca's Loaves, we are committed to protecting your privacy. This
        Privacy Policy outlines how we collect, use, and safeguard your personal
        information.
      </p>
    </section>
    <section class="px-4 py-6">
      <h2 class="text-xl font-semibold mb-4 text-earthy-brown md:text-2xl">
        Information We Collect
      </h2>
      <p class="text-gray-700 mb-4 text-lg md:text-xl">
        We may collect personal information such as your name, email address,
        and payment details when you make a purchase or sign up for our
        newsletter.
      </p>
    </section>
    <section class="px-4 py-6">
      <h2 class="text-xl font-semibold mb-4 text-earthy-brown md:text-2xl">
        How We Use Your Information
      </h2>
      <p class="text-gray-700 mb-4 text-lg md:text-xl">
        Your information is used to process orders, improve our services, and
        communicate with you about promotions and updates.
      </p>
    </section>
    <section class="px-4 py-6">
      <h2 class="text-xl font-semibold mb-4 text-earthy-brown md:text-2xl">
        Data Security
      </h2>
      <p class="text-gray-700 mb-4 md:text-xl">
        We implement various security measures to protect your personal
        information from unauthorized access and disclosure.
      </p>
    </section>
    <section class="px-4 py-6">
      <h2 class="text-xl font-semibold mb-4 text-earthy-brown md:text-2xl">
        Contact Us
      </h2>
      <p class="text-gray-700 md:text-xl">
        If you have any questions about this Privacy Policy, please contact us
        <a href="/contact" class="text-warm-gold font-bold">here</a>.
      </p>
    </section>
  </main>
</Layout>
<style>
  body {
    background-color: #f0f0ea;
  }
</style>
