<footer
  class="flex flex-col gap-4 py-6 px-4 border-t border-t-gray-200 w-full text-center text-gray-500 text-xs"
>
  <p class="font-bold text-earthy-brown text-lg md:text-xl lg:text-2xl">
    Luca's Loaves
  </p>
  <p class="text-xs md:text-sm lg:text-base">Copyright © 2025</p>
  <nav class="flex gap-8 justify-center text-xs py-2">
    <a
      href="/privacy"
      class="hover:text-warm-gold text-xs md:text-sm lg:text-base"
      >Privacy Policy</a
    >
    <a
      href="/contact"
      class="hover:text-warm-gold text-xs md:text-sm lg:text-base">Contact</a
    >
    <a href="#" class="hover:text-warm-gold text-xs md:text-sm lg:text-base"
      >Sitemap</a
    >
  </nav>
</footer>
