---
import MobileMenu from "./MobileMenu.astro";
---

<header
  class="bg-warm-beige/70 fixed top-0 z-50 backdrop-blur-md h-16 md:h-20 w-full"
>
  <nav class="flex justify-between items-center px-4 py-2 md:w-6xl md:mx-auto">
    <a href="/">
      <img
        src="/public/logo.webp"
        alt="Lucas' Loaves logo"
        class="w-12 md:w-16"
      />
    </a>
    <nav class="flex gap-4 px-4">
      <div class="flex gap-4 font-medium text-center">
        <a
          href="/"
          class="p-2 flex flex-col justify-center items-center cursor-pointer gap-1 hover:text-warm-beige text-earthy-brown text-lg font-bold"
        >
          <span>Home</span>
        </a>
        <a
          href="/products"
          class="p-2 flex flex-col justify-center items-center cursor-pointer gap-1 hover:text-warm-beige text-earthy-brown text-lg font-bold"
        >
          <span>Shop</span>
        </a>
        <a
          href="/cart"
          class="p-2 flex flex-col justify-center items-center cursor-pointer gap-1 hover:text-warm-beige text-earthy-brown text-lg font-bold"
        >
          <span>Cart</span></a
        >
        <a
          href="/src/pages/"
          class="p-2 flex flex-col justify-center items-center cursor-pointer gap-1 hover:text-warm-beige text-earthy-brown text-lg font-bold"
        >
          <span>Profile</span></a
        >
      </div>
    </nav>
    <!-- <MobileMenu /> -->
  </nav>
</header>
