---

---

<form
  class="flex border rounded-lg items-center gap-2 border-warm-gold/40 text-earthy-brown font-medium bg-white mb-4"
>
  <label for="search" class="pl-2 py-3">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-5 md:size-7"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
      ></path>
    </svg>
  </label>
  <input
    type="search"
    id="search"
    class="block w-full py-3 pr-2 ps-2 text-sm md:text-lg shadow-xs outline-earthy-brown"
    placeholder="Search for your favorite loaf"
  />
</form>
