---
import "@fontsource-variable/onest";
import Header from "../components/shared/Header.astro";
import Footer from "../components/shared/Footer.astro";

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Lucas' Loaves - Handcrafted Sourdough" />
    <meta name="keywords" content="sourdough, bread, baked goods, artisanal" />
    <meta name="author" content="Lucas' Loaves" />
    <title>Luca's Loaves</title>
    <link
      rel="stylesheet"
      href="https://cdn.snipcart.com/themes/v3.0.31/default/snipcart.css"
    />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <slot class="grow" />
    <Footer />
    <div
      hidden
      id="snipcart"
      data-api-key={import.meta.env.PUBLIC_SNIPCART_API_KEY}
      data-config-modal-style="side"
    >
    </div>
    <script
      async
      src="https://cdn.snipcart.com/themes/v3.0.31/default/snipcart.js"
    ></script>
  </body>
</html>
